html {
  position: relative;
  height: 100%;
  width: 100%;
}
h1,
h2,
.tip {
  text-align: center;
}
.mini_header {
  text-align: center;
  text-decoration-line: underline;
}
h3 span, .mini_header span {
  background: #0e6655;
  padding: 8px;
  border-radius: 8px;
}
body {
  width: 100%;
  height: 100%;
  margin: 20px;
  background-color: #0e6655;
  color: #f5f6f7;
  font-size: 18px;
  font-family: "Catamaran";
  min-width: 480px;
}
.selection {
  padding: 6px;
  border-radius: 15px;
  text-align: center;
  max-width: 1112px;
  margin: auto;
  min-width: 400px;
  background-color: #117a65;
}
.dropdowns {
  margin-top: 20px;
  width: 140px;
}
.info {
  width: 30px;
}
fieldset {
  border: none;
  padding: 6px;
}
#talent_input,
#ascension {
  padding: 6px;
  border-radius: 15px;
  display: flex;
  background-color: #117a65;
  max-width: 1112px;
  margin: auto;
}
#talent_input {
  min-height: 440px;
}
#ascension {
  min-height: 330px;
  margin-bottom: 25px;
}
#talent_parameters {
  margin-top: 14px;
  margin-left: 0;
}
.bookInventory {
  width: 44px;
}
.column {
  width: 33%;
  height: auto;
  background-color: #117a65;
}
.subColumn {
  margin: 0 40%;
  display: flex;
  width: auto;
}
.thicker {
  margin: 0 30%;
}
.centered {
  text-align: center;
  min-width: 400px;
  border-right: solid;
}
.left {
  text-align: left;
  width: 70%;
  
}
.right {
  text-align: right;
  width: 20%;
  
}
.results {
  max-width: 500px;
  height: 100%;
  min-width: 400px;
}
.middle {
  min-width: 400px;
  max-width: 500px;
}
.third {
  min-width: 300px;
  max-width: 400px;
}
button {
  padding: 6px;
  margin-top: 16px;
}
.first-line,
.buttons {
  margin-left: 24px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.imageDiv, .multipleTalentMats {
  display: flex;
  justify-content: center;
}
.imageDiv {
  padding-top: 20px;
}
.image {
  min-height: 100px;
  max-height: 100px;
  min-width: 100px;
  max-width: 100px;
}
.charImg, .talentImg, .weeklyMatImg, .charAscImg {
  margin: 0px 6px;
  width: 18%;
}
.multipleBooks {
  display:block;
  padding-bottom: 0;
}
.multipleMats {
  width: 50%;
}
.subtitle {
  line-height: 1;
  text-align: center;
}
.inazuma {
  scale: 90%;
}
@media (max-width: 860px) {
  .column {
    width: 100%;
  }
  #talent_input,
  #ascension {
    display: block;
    justify-content: center;
    width: 100%;
  }
  .centered {
    border-style: none;
  }
  .middle, .third {
    margin: auto;
  }
  .thicker {
  margin: 0 35%;
  }
}
