html {
  position: relative;
}
h1,
h2,
.tip {
  text-align: center;
}
h3,
.mini_header {
  text-decoration-line: underline;
}
h3 span, .mini_header span {
  background: #0e6655;
  padding: 8px;
  border-radius: 8px;
}
body {
  width: 100%;
  height: 100vh;
  margin: 20px;
  background-color: #0e6655;
  color: #f5f6f7;
  font-size: 18px;
  font-family: "Catamaran";
  min-width: 400px;
}
div {
  background-color: #117a65;
  padding-bottom: 12px;
}
.selection {
  padding: 6px;
  border-radius: 15px;
  text-align: center;
  max-width: 1112px;
  margin: auto;
  min-width: 400px;
}
.dropdowns {
  margin-top: 20px;
  width: 140px;
}
.info {
  width: 30px;
}
fieldset {
  border: none;
  background-color: #117a65;
  padding: 6px;
}
#talent_input,
#ascension {
  padding: 6px;
  border-radius: 15px;
  display: flex;
  margin: auto;
  max-width: 1112px;
}
#talent_input {
  min-height: 440px;
}
#ascension {
  min-height: 330px;
}
#talent_parameters {
  margin-top: 14px;
  margin-left: 0;
}
.bookInventory {
  width: 44px;
}
.column {
  width: 33%;
  min-width: 400px;
  text-align: center;
  height: 100%;
}
.results {
  min-width: 200px;
  height: 100%;
}
button {
  padding: 6px;
  margin-top: 16px;
}
.first-line,
.buttons {
  margin-left: 24px;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

@media (max-width: 820px) {
  .column {
    width: 100%;
  }
  #talent_input,
  #ascension {
    display: block;
  }
}
